# Virtual Environments
venv/
.venv/
*/venv/
*/.venv/

# Python Cache & Databases
__pycache__/
*.pyc
*.db
tasks.db

# Environment Secrets
.env
*.env

# IDE / Editor folders
.vscode/
.idea/

# Build & Log files
dist/
build/
*.log